@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body {  

    background-size: cover;
}

a { 
    text-decoration: none;
}

.menu {
    height: 90px;
    background-color: #4696e0;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img img {
    width: 40%;
}

.logo-img2 img {
    width: 40%;
}

.header {
    display: flex;
    align-items: center;
    gap: 70px;
}

.panqueca {
    padding-left: 100px;
}

.header-links {
    display: flex;
    gap: 50px;
   padding-left: 80px;
    padding-inline: 24px;
    transition: 0.4s;
}

.header-links a {
    font-weight: 500;
    font-size: 25px;
    color:#9eccf7;
    padding: 10px 16px;
    transition: 0.4s;
}

.header-links a:hover {
    color: rgb(7, 80, 175);
}


@media (max-width: 53rem) {
    .header {
        display: none;
    }
}

.home-img {
    background-color: #dae9f7d7;
    background-size: cover;
    height: 600px;
}
.position-img img {
    width: 500px;
    height: 600px;
}

.position-img {
    padding-left: 50px;
}

.home-text {
    
}