@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Pacifico&family=Playwrite+IT+Moderna:wght@100..400&family=Spicy+Rice&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+IT+Moderna:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playwrite+IT+Moderna:wght@100..400&family=Spicy+Rice&display=swap');


body {  
    background-size: cover;
}

a { 
    text-decoration: none;
}

/* home.html */

/* header */
 
.menu { 
    height: 90px;
    background-color: #4696e0;
    padding-top: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img img {
    width: 40%;
    padding-left: 50px;
}


.header {
    display: flex;
    align-items: center;
    gap: 70px;
}

.header-links {
    display: flex;
    gap: 50px;
    padding-inline: 24px;
    transition: 0.4s;
}

.header-links a {
    font-weight: 500;
    font-size: 25px;
    
    color:rgb(158, 204, 247);
    padding: 10px 16px;
    transition: 0.4s;
}

.header-links a:hover {
    color: rgb(7, 80, 175);
}

    /* .header-links a:hover:not(.active) {
    color: rgb(4, 46, 101);
}

.active{
    color: rgb(4, 46, 101);
}

*/

@media (max-width: 53rem) {
    .header {
        display: none;
    }
}

/* header */

/* sessão home */

.home-img {
    background-color: #dae9f77f;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #2178ca;

}
.position-img img {
    width: 500px;
    height: 600px;
}

.position-img {
    padding-left: 90px;
}

.home-img h1 {
    font-size: 60px;
    font-family: 'Pacifico';
}

.home-img h2 {
    font-size: 40px;
}

.home-img h3 {
    font-size: 23px;
    font-family: 'Oleo Script Swash Caps';
}

.btn1 {
    font-weight: 500;
    font-family: 'Pacifico';
    font-size: 25px;
    color: #9eccf7;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #4696e0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.btn1:hover {
    background-color: #295dbd;
    color: white;
}

/* sessão home */

/* sessão reflection */

.reflection-text {
    padding-top: 50px;
    height: 650px;
    padding-left: 380px;
    padding-right: 380px;
    font-size: 20px;
    text-align: center;
    color: #2178ca
}

.reflection-text h2 {
    font-size: 25px;
    font-family: 'Pacifico';
    color: #2178ca
}

.reflection-text p{
    font-size: 23px;
    font-family: 'Oleo Script Swash Caps';
    color: #2178ca
}

/* sessão reflection */  

/* sessão difficulty-solution */


.difficulty-solution {
   background: linear-gradient(to bottom right, rgb(251, 251, 252), rgba(199, 223, 245, 0.69)), rgba(176, 213, 249, 0.755);
  
    height: 900px;
    flex-direction: row;
    display: flex;
    column-gap: 300px;
    grid-template-columns: auto auto auto;
    padding-left: 100px;
}

.difficulty-solution img {
    width: 180px;
    height: 340px;
}

.grid-item {
    background-color: #c6dff7;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    width: 200%;
    height: 70%;
    font-family: 'Pacifico';
}

.btn-2 {
    font-weight: 500;
    font-size: 25px;
    color: #9eccf7;
    background-color: #6d9fcd;
    border-radius: 10px;
    border: 1px solid #4696e0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.btn-2:hover {
    background-color: #295dbd;
    color: white;

}

/* sessão difficulty-solution */

/* home.html */


/* about.html */

/* sessão about */

.about-img {
    background-color: #dae9f77f;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #2178ca;
}

.position-img img {
    width: 400px;
    height: 600px;
}

.position-img {
    padding-left: 90px;
}

.about-img h1 {
    font-size: 60px;
    font-family: 'Pacifico';
}

.about-img h2 {
    font-size: 40px;
}

.about-img h3 {
    font-size: 23px;
    font-family: 'Oleo Script Swash Caps';
}

.btn3 {
    font-weight: 500;
    font-family: 'Pacifico';
    font-size: 25px;
    color: #9eccf7;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #4696e0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.btn3:hover {
    background-color: #295dbd;
    color: white;
}

/* sessão about */

/* sessão f&q */

.section-fq {
    height: 600px;
}

.fq-text {
    padding-top: 20px;
    padding-left: 380px;
    padding-right: 380px;
    font-size: 20px;
    text-align: center;
    color: #2178ca

}

.fq-text h1{
    font-size: 25px;
    font-family: 'Pacifico';

} 

.fq-text p {
    font-size: 23px;
    font-family: 'Oleo Script Swash Caps';
}

.section-fq-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 600px;
}

.fq-text-2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #295dbd;
}

.info-certificados {
    flex: 1;
    padding: 20px;
}

.info-certificados h1 {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 40px;
    font-family: 'Pacifico';
}

.info-certificados p {
    padding-left: 10px;
    font-size: 23px;
    font-family: 'Oleo Script Swash Caps';
}

/* galeria de imagens linda */

.galeria {
    flex: 1;
    display: flex;
    justify-content: center;
}

.slider {
    position: relative;
    width: 1000%;
    max-width: 600px;
    overflow: hidden;
    border: 1px solid #218bc9;
    height: 78%;
}

.slider input {
    display: none;
}

.images-container {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.images-container img {
    height: 400px;
    width: 100%;
    flex: 0 0 100%;
    object-fit: cover;
}

.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dots label {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: solid #218bc9 2px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}

.dots label:hover {
    background: #218bc998;
}

#img1:checked ~ .images-container {
    transform: translateX(0);
}

#img2:checked ~ .images-container {
    transform: translateX(-100%);
}

#img3:checked ~ .images-container {
    transform: translateX(-200%);
}

#img4:checked ~ .images-container {
    transform: translateX(-300%);
}

/* galeria de imagens linda */

/* sessão f&q */

/* section mensage */

.section-message {
    background-color: #dae9f77f;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #2178ca;
}

.section-message h3 {
    padding-left: 380px;
    padding-right: 380px;
    text-align: center;
    font-size: 23px;
    font-family: 'Oleo Script Swash Caps';
}

.section-message h2 {
    text-align: center;
    padding-left: 380px;
    padding-right: 380px;
}

/* section-message */





/* about.html */











/* rodape lindao */

footer {
    background-color: #86b7f6c8;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.footer-title {
    font-size: 1.5rem;
    color: #2a4bc4;;
}

footer ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

footer ul li {
    margin: 10px 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: thin;
}

footer ul li a:hover {
    color: #2a4bc4;
    transition: 0.4s ease-in-out;
}

.socials {
    display: flex;
    justify-content: center;
    margin-block: 20px;
    width: 100%;
}

.socials a {
    color: #3e5fd6a5;;
    font-size: 1.1rem;
}

.socials a:hover {
    color: #081649;
    transition: 1s ease-in-out;
}

.info {
    display: flex;
    justify-content: center;
    margin-block: 20px;
    gap: 20px;
}

.footer-list_header {
    font-size: 0.9rem;
    color: #2a4bc4;
}

footer p{
    color: #2a4bc4;
}

@media screen and (max-widht: 600px) {
    .info {
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* rodape lindao */