@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body {  

    background-size: cover;
}

a { 
    text-decoration: none;
}

/* header */
 
.menu { 
    height: 90px;
    background-color: #4696e0;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img img {
    width: 40%;
}

.logo-img2 img {
    width: 40%;
}

.header {
    display: flex;
    align-items: center;
    gap: 70px;
}

.panqueca {
    padding-left: 100px;
}

.header-links {
    display: flex;
    gap: 50px;
   padding-left: 80px;
    padding-inline: 24px;
    transition: 0.4s;
}

.header-links a {
    font-weight: 500;
    font-size: 25px;
    color:#9eccf7;
    padding: 10px 16px;
    transition: 0.4s;
}

.header-links a:hover {
    color: rgb(7, 80, 175);
}


@media (max-width: 53rem) {
    .header {
        display: none;
    }
}

/* header */

/* seção home */

.home-img {
    background-color: #dae9f7d7;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #2178ca;

}
.position-img img {
    width: 500px;
    height: 600px;
}

.position-img {
    padding-left: 90px;
}

.home-img h1 {
    font-size: 60px;
}

.home-img h2 {
    font-size: 40px;
}

.home-img h3 {
    font-size: 23px;
}

.btn1 {
    font-weight: 500;
    font-size: 25px;
    color: #9eccf7;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #4696e0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.btn1:hover {
    background-color: #295dbd;
    color: white;

}

/* seção home */

/* seção reflection */

.reflection-text {
    padding-top: 50px;
    height: 500px;
    padding-left: 380px;
    padding-right: 380px;
    font-size: 20px;
    text-align: center;
}

/* seção reflection */  

/* seção difficulty-solution */

.difficulty-solution {
    background: url(imagens/background_ds_2.jpg);
    height: 900px;
    flex-direction: row;
    display: flex;
    column-gap: 300px;
    grid-template-columns: auto auto auto;
    padding-left: 40px;
}

.difficulty-solution img {
    width: 180px;
    height: 340px;
}


.grid-item {
    background-color: #9eccf7;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    width: 200%;
    height: 65%;
}

.btn-2 {
    font-weight: 500;
    font-size: 25px;
    color: #9eccf7;
    background-color: #6d9fcd;
    border-radius: 10px;
    border: 1px solid #4696e0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.btn-2:hover {
    background-color: #295dbd;
    color: white;

}











/* seção difficulty-solution */

/* rodape lindao */

footer {
    background-color: #86b7f6c8;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.footer-title {
    font-size: 1.5rem;
    color: #2a4bc4;;
}

footer ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

footer ul li {
    margin: 10px 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: thin;
}

footer ul li a:hover {
    color: #2a4bc4;
    transition: 0.4s ease-in-out;
}

.socials {
    display: flex;
    justify-content: center;
    margin-block: 20px;
    width: 100%;
}

.socials a {
    color: #3e5fd6a5;;
    font-size: 1.1rem;
}

.socials a:hover {
    color: #081649;
    transition: 1s ease-in-out;
}

.info {
    display: flex;
    justify-content: center;
    margin-block: 20px;
    gap: 20px;
}

.footer-list_header {
    font-size: 0.9rem;
    color: #2a4bc4;
}

footer p{
    color: #2a4bc4;
}

@media screen and (max-widht: 600px) {
    .info {
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}






/* rodape lindao */